{% extends "base.html" %}

{% block content %}

<div id="container">
  <h1>About this site</h1>

  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus augue nec risus accumsan pretium. Pellentesque ornare metus a vestibulum egestas. Morbi nibh magna, venenatis sit amet dolor a, egestas dictum turpis. Mauris orci odio, aliquet sed volutpat a, luctus eget dui. Donec gravida at lacus eu varius. In hac habitasse platea dictumst. Nunc eu lectus vitae tortor ornare cursus. Mauris in hendrerit arcu. Nullam eu leo vel dolor tincidunt hendrerit. Mauris a massa orci. Proin vulputate nisi in ex blandit, eu lobortis urna feugiat. Phasellus sodales urna congue, commodo metus ut, ullamcorper lacus. Duis euismod elementum dolor feugiat sollicitudin. </p>

  <h2>Pellentesque luctus elementum luctus. Integer imperdiet tincidunt neque in laoreet.</h2>
  <ul>
	<li>Nam dolor elit, molestie eu fermentum eu, convallis eget dolor.</li>
	<li>Mauris eu sollicitudin erat.</li>
	<li>Praesent laoreet, risus sit amet commodo malesuada, nibh odio volutpat ligula, quis faucibus lorem risus in nibh.</li>
	<li>Praesent a sodales magna.</li>
  </ul>

  <p>Vivamus egestas nisi placerat sem placerat cursus. Donec sem nibh, blandit vitae dui sit amet, accumsan consectetur eros. Vestibulum id sapien at libero luctus sollicitudin eu sagittis metus. Nunc pulvinar et quam ac eleifend. Quisque iaculis, elit non vulputate posuere, lectus nibh tristique lectus, ac vulputate arcu mauris et urna. Cras id libero ac erat lacinia facilisis. Aenean ante libero, ultrices a vulputate et, pretium sed tortor. Pellentesque vel massa libero. Aenean in aliquam ante, nec euismod tellus. Nunc a dui tincidunt, pulvinar nisi at, sagittis diam. </p>

</div>
  
{% endblock %}

