{% extends "base.html" %}

{% block content %}

<!-- Page Content -->
<div class="container mb-6">
  <!-- Introduction Row -->
  <div class="row" id="header">
	<div class="col">
	  <h1 class="text-center">About our project</h1><br>
        <br/>
	</div>
  </div>

  <div class="row jumbotron">
	<h2>Why this project?</h2>
	  <hr />
	<div class="col">
  
	  <p>H-1B visa workers hold about 12%-13% of jobs within the tech industry in the United States. As the country's largest guest worker visa program, it benefits companies by allowing high-skilled foreign workers to be hired for positions that may be challenging to fill across industries.</p>
        
        <p>Having recently been a target of political scrutiny, the debate over whether the number of visas issued should be limited or not has sparked significant controversy. This project was born out of curiosity about the real data behind the scenes:</p>

	  <p>Who are the employers hiring the most number of H1-B workers and who pays best?</p>
	  
	  <p>How do the salaries of H1-B workers really compare to regional ones?</p>

	</div>
  </div>

  
  <div class="row jumbotron">
	  <h2>Sources</h2>
	  <hr />
	<div class="col">

	  <h3>Data</h3>

	  <p>The data for this project was pulled from the <a href="http://www.flcdatacenter.com/caseh1b.aspx">Foreign Labor Certification Data Center Online Wage Library</a> and <a href="https://www.foreignlaborcert.doleta.gov/performancedata.cfm">United States Department of Labor</a>.</p>

        <br>
        
	<h3>Code</h3>
	<p><a href="https://github.com/mackenziedg/H1B-Site">Here</a></p>
	</div>
  </div>

  
  <div class="row jumbotron">
	<h2>Who we are</h2>

	<hr />
  <div class="row">
	<div class="col-md-4">
	  <figure class="figure">
	  <img src="{{url_for('.static', filename='sarah.PNG')}}" class="figure-img img-responsive img-circle headshot" alt="">
	  <figcaption class="figure-caption">
		<h3>Sarah Cohen</h3>
		<a href="https://github.com/cohensar"><img src="{{url_for('.static', filename='GitHub-Mark-64px.png')}}" class="img-responsive" style="height: 1.5em;" alt=""></a>
	  </figcaption>
	  </figure>
	</div>
	
	<div class="col-md-4">
	  <figure class="figure">
		<img src="{{url_for('.static', filename='mack.jpg')}}" class="img-responsive img-circle headshot" alt="">
		<figcaption class="figure-caption">
		  <h3>Mackenzie Gray</h3>
		  <a href="https://github.com/mackenziedg"><img src="{{url_for('.static', filename='GitHub-Mark-64px.png')}}" class="img-responsive" style="height: 1.5em;" alt=""></a>
		  </figcaption>
	  </figure>
	</div>

	<div class="col-md-4">
	  <figure class="figure">
		<img src="{{url_for('.static', filename='adriana.jpg')}}" class="img-responsive img-circle headshot" alt="">
		<figcaption class="figure-caption">
		  <h3>Adriana Souza</h3>
		  <a href="https://github.com/acastrops"><img src="{{url_for('.static', filename='GitHub-Mark-64px.png')}}" class="img-responsive" style="height: 1.5em;" alt=""></a>
		</figcaption>
	  </figure>
	
  </div>
  
</div>
  {% endblock %}

