{% extends "base.html" %}

{% block content %}

<!-- Page Content -->
<div class="container mb-6">
  <!-- Introduction Row -->
  <div class="row">
	<div class="col">
	  <h1 class="text-center">About our project</h1>
	</div>
  </div>

  <hr />
  
  <div class="row">
	<div class="col">
	  <h2>Why this project?</h2>

	  <p>Little description here</p>

	  <p>Who are the employers hiring the most number of H1-B workers and who pays best?</p>
	  
	  <p>How do the salaries of H1-B workers compare to regional ones?</p>

	</div>
  </div>

  <hr />
  
  <div class="row">
	<div class="col">
	  <h2>Sources</h2>

	  <h3>Data</h3>

	  <p>The data for this project was pulled from the <a href="http://www.flcdatacenter.com/caseh1b.aspx">Foreign Labor Certification Data Center Online Wage Library</a> and <a href="https://www.foreignlaborcert.doleta.gov/performancedata.cfm">United States Department of Labor</a>.</p>

	<h3>Code</h3>
	<a href="https://github.com/mackenziedg/H1B-Site">Here</a>
	</div>
  </div>

  <hr />
  
  <div class="row">
	<h2>Who we are</h2>
  </div>
  
  <div class="row">
	<div class="col-md-4">
	  <figure class="figure">
	  <img src="{{url_for('.static', filename='sarah.PNG')}}" class="figure-img img-responsive img-circle headshot" alt="">
	  <figcaption class="figure-caption">
		<h3>Sarah Cohen</h3>
		<a href="https://github.com/cohensar"><img src="{{url_for('.static', filename='GitHub-Mark-64px.png')}}" class="img-responsive" style="height: 1.5em;" alt=""></a>
		
		<p>Little snippet here</p>
	  </figcaption>
	  </figure>
	</div>
	
	<div class="col-md-4">
	  <figure class="figure">
		<img src="{{url_for('.static', filename='mack.jpg')}}" class="img-responsive img-circle headshot" alt="">
		<figcaption class="figure-caption">
		  <h3>Mackenzie Gray</h3>
		  <a href="https://github.com/mackenziedg"><img src="{{url_for('.static', filename='GitHub-Mark-64px.png')}}" class="img-responsive" style="height: 1.5em;" alt=""></a>

		  <p>Little snippet here</p>
		  </figcaption>
	  </figure>
	</div>

	<div class="col-md-4">
	  <figure class="figure">
		<img src="{{url_for('.static', filename='adriana.jpg')}}" class="img-responsive img-circle headshot" alt="">
		<figcaption class="figure-caption">
		  <h3>Adriana Souza</h3>
		  <a href="https://github.com/acastrops"><img src="{{url_for('.static', filename='GitHub-Mark-64px.png')}}" class="img-responsive" style="height: 1.5em;" alt=""></a>

		  <p>Little snippet here</p>
		</figcaption>
	  </figure>
	</div>
	
  </div>
  
</div>
  {% endblock %}

