{% extends "base.html" %}

{% block content %}


<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
	  <form action="" method="POST">
		<div class="form-group input-lg">
		  {{ form.hidden_tag() }}
		  
		  <label for="wage_low">Lower bound on wage:</label>
		  {{ form.wage_low }}
		</div>
		<div class="form-group input-lg">
		  <label for="wage_high">Upper bound on wage:</label>
		  {{ form.wage_high }}
		</div>
		<div class="form-group input-lg">
		  <label for="state">In state:</label>
		  {{ form.state }}
		</div>

          <button type="submit" value="Search" class="btn btn-lg">Search</button>
		</div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
